body {
  font-family: sans-serif;
  margin: 0px 0px 15% 0px;
  background: #ffffff;
}

#yubi {
  cursor: pointer;
}

/* #parasol_image {
  margin-left: 90%;
  width: 10%;
  height: 10%;
} */

#box_image {
  margin-bottom: 3%;
  width: 100%;
  height: 95%;
}

#eco_bag_image {
  /* margin-bottom: 5%; */
  margin-left: 30%;
  width: 40%;
  height: 100%;
}

.image_div {
  width: 100%;
  height: 50%;
}

#meter_zone {
  margin-top: 5%;
  margin-left: 25%;
  width: 50%;
  height: 50px;
}

#meter_zone_over {
  margin-top: 5%;
  margin-left: 25%;
  width: 100%;
  height: 50px;
}

#cup {
  margin-left: 80%;
}

#cup_over {
  margin-left: 80%;
  color: red;
}

.graph {
  width: 100%;
  opacity: 0.5;
  /* position: absolute; */
  /* bottom: 0; */
  pointer-events: none;
  transform: rotateX(180deg);
}

/* エラーメッセージに関するクラス */

.error {
  color: #ff0000;
}

/*Transform-box:fill-box*/
.Header__shape {
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}

.myRect {
  animation-name: change-height;
}

@keyframes change-height {
  0% {
    height: 0%;
  }
}

#flex_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.flex {
  display: flex;
}

.user_list {
  height: 50px;
  margin: 20px 20px 0px;
}

.image_color {
  height: 100%;
}

.user_name {
  height: 100%;
  font-size: xx-large;
  text-align: center;
}

.attend {
  background-color: white;
  color: black;
}

.absent {
  background-color: #04012c;
  color: white;
}

.in_out {
  height: 100%;
}

.in_image {
  background-color: white;
}

.out_image {
  background-color: #04012c;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.graph_image {
  width: 60px;
  height: 24px;
  cursor: pointer;
}

.graph_time {
  /* max-width: 300px; */
  padding: 0px 20px;
  margin: 0px;
}

#font-custom {
  text-align: center;
}

.unit {
  margin-left: 90%;
  font-size: 1.5em;
}

#retake {
  width: 45%;
  height: 15%;
  font-size: 3em;
  left: 2%;
  /* top: 65%; */
  bottom: 2%;
  background-color: #61c359;
  /* color: white; */
  position: fixed;
  font-weight: bold;
  border-radius: 10%;
  cursor: pointer;
}

.result_text {
  font-size: 3em;
  /* margin-top: 20%; */
  text-align: center;
  /* margin-left: 20%; */
}

/* 管理画面に使うスタイル */
.wrap > input {
  display: block;
}

div {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* 以下，wakamoto変更：ヘッダ用*/
.Header {
  position: relative; /* ヘッダーを固定する */
  top: 0; /* 上部から配置の基準位置を決める */
  left: -3%; /* 左から配置の基準位置を決める */
  width: 106%; /* ヘッダーの横幅を指定する */
  height: 10vh; /* ヘッダーの高さを指定する */
  padding: 10px; /* ヘッダー内側の余白を指定する(上下左右) */
  padding-left: 35%;
  padding-right: 35%;
  font-size: 1.5em;
  background-color: #ffecb9; /* ヘッダーの背景色を指定する */
  color: #000; /* ヘッダーのフォントの色を指定する */
  border-bottom: 3px solid #ffecb9; /* ヘッダーの境界線（下部）を指定する */
  box-shadow: 0 7px 10px 2px #aaaaaa; /* 影を指定（[右][下][ぼかし][広がり][影の色]） */
  cursor: pointer;
  background-image: url("./../image/logo2.png");
  background-repeat: no-repeat;
  background-size: 20% auto;
  background-position: center;
}
/*/////////////////////////////////////////////////
//twitter風チャット画面(会話方式)を記事に表示する方法
/////////////////////////////////////////////////*/
.twitter__container {
  padding: 0;
  background: #ffffff;
  overflow: hidden;
  max-width: 400px;
  margin: 20px auto;
  font-size: 80%;
  border: solid 1px #eeeeee;
}

.twitter__container a {
  color: #58aeed;
}

/* タイトル部分 */
.twitter__container .twitter__title {
  background: #58aeed;
  padding: 10px;
  text-align: center;
  font-size: 150%;
  color: #ffffff;
}

.twitter__container .twitter__title .twitter-logo {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  display: block;
  background: url(svg/twitter-logo.svg) center no-repeat;
}

.twitter__container .twitter__title span {
  font-size: 20px;
}

/* タイムライン部分 */
.twitter__container .twitter__contents {
  overflow: hidden;
  position: relative;
  line-height: 135%;
}

.twitter__container .twitter__contents.scroll {
  height: 500px;
  overflow-y: scroll;
}

.twitter__container .twitter__block {
  width: 100%;
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  border-bottom: solid 1px #eeeeee;
  overflow: hidden;
}

.twitter__container .twitter__block:last-child {
  border-bottom: solid 0px;
}
/* アイコン画像 */
.twitter__container .twitter__block figure {
  width: 50px;
  padding: 0;
  margin: 0;
  float: left;
  width: 50px;
}
/* 正方形を用意 */
.twitter__container .twitter__block figure img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
/* コメントエリア */
.twitter__container .twitter__block-text {
  margin: 0;
  position: relative;
  margin-left: 60px;
  padding-right: 10px;
}

.twitter__container .twitter__block-text .name {
  font-weight: bold;
}

.twitter__container .twitter__block-text .name .name_reply {
  color: #8a9aa4;
  margin-left: 10px;
}

.twitter__container .twitter__block-text .date {
  position: absolute;
  top: 0;
  right: 20px;
  text-align: right;
  color: #8a9aa4;
}
/* 本文 */
.twitter__container .twitter__block-text .text {
  margin: 5px 0;
}
/* 画像を貼る場合 */
.twitter__container .twitter__block-text .text .in-pict img {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  margin: 5px 0;
  width: 95%;
  height: 200px;
  object-fit: cover;
}

/*///////////////////////////////////////////
//埋め込みアイコン
////////////////////////////////////////////*/

.twitter__container .twitter__icon br {
  margin-top: 5px;
  display: none;
}

.twitter__container .twitter__icon .twitter-bubble {
  width: 14px;
  height: 14px;
  display: block;
  padding-left: 20px;
  background: url("svg/twitter-bubble.svg") left no-repeat;
  width: 20%;
  float: left;
  color: #8a9aa4;
}

.twitter__container .twitter__icon .twitter-heart {
  width: 14px;
  height: 14px;
  display: block;
  padding-left: 20px;
  background: url("svg/twitter-heart.svg") left no-repeat;
  width: 20%;
  float: left;
  color: #8a9aa4;
}

.twitter__container .twitter__icon .twitter-loop {
  width: 14px;
  height: 14px;
  display: block;
  padding-left: 20px;
  background: url("svg/twitter-loop.svg") left no-repeat;
  width: 20%;
  float: left;
  color: #8a9aa4;
}
/*/////////////////////////////////////////////////
//twitter風チャット画面(会話方式)を記事に表示する方法
/////////////////////////////////////////////////*/
.twitter__container {
  padding: 0;
  background: #ffffff;
  overflow: hidden;
  max-width: 600px;
  margin: 20px auto;
  font-size: 80%;
  border: solid 1px #eeeeee;
}

.twitter__container a {
  color: #58aeed;
}

/* タイトル部分 */
.twitter__container .twitter__title {
  background: #58aeed;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  font-size: 150%;
  color: #ffffff;
}

.twitter__container .twitter__title .twitter-logo {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  display: block;
  background: url(svg/twitter-logo.svg) center no-repeat;
}

.twitter__container .twitter__title span {
  font-size: 20px;
}

/* タイムライン部分 */
.twitter__container .twitter__contents {
  overflow: hidden;
  margin-bottom: 0px;
  position: relative;
  line-height: 135%;
}

.twitter__container .twitter__contents.scroll {
  height: 500px;
  overflow-y: scroll;
}

.twitter__container .twitter__block {
  width: 100%;
  display: block;
  padding: 10px;
  /* margin-bottom: 5px; */
  border-bottom: solid 1px #eeeeee;
  overflow: hidden;
}

.twitter__container .twitter__block:last-child {
  border-bottom: solid 0px;
}
/* アイコン画像 */
.twitter__container .twitter__block figure {
  width: 50px;
  padding: 0;
  margin: 0;
  float: left;
  width: 50px;
}
/* 正方形を用意 */
.twitter__container .twitter__block figure img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
/* コメントエリア */
.twitter__container .twitter__block-text {
  margin: 0;
  position: relative;
  margin-left: 60px;
  padding-right: 10px;
}

.twitter__container .twitter__block-text .name {
  height: 0px;
  font-weight: bold;
}

.twitter__container .twitter__block-text .name .name_reply {
  color: #8a9aa4;
  margin-left: 10px;
}

.twitter__container .twitter__block-text .date {
  position: absolute;
  top: 0;
  right: 20px;
  text-align: right;
  color: #8a9aa4;
}
/* 本文 */
.twitter__container .twitter__block-text .text {
  margin: 5px 0;
  margin-bottom: 10px;
}
/* 画像を貼る場合 */
.twitter__container .twitter__block-text .text .in-pict img {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  margin: 5px 0;
  width: 95%;
  height: 200px;
  object-fit: cover;
}

/*///////////////////////////////////////////
//埋め込みアイコン
////////////////////////////////////////////*/

.twitter__container .twitter__icon br {
  display: none;
}

.twitter__container .twitter__icon .twitter-bubble {
  width: 14px;
  height: 14px;
  display: block;
  padding-left: 20px;
  background: url("svg/twitter-bubble.svg") left no-repeat;
  width: 20%;
  float: left;
  color: #8a9aa4;
}

.twitter__container .twitter__icon .twitter-heart {
  width: 14px;
  height: 14px;
  display: block;
  padding-left: 20px;
  background: url("svg/twitter-heart.svg") left no-repeat;
  width: 20%;
  float: left;
  color: #8a9aa4;
}

.twitter__container .twitter__icon .twitter-loop {
  width: 14px;
  height: 14px;
  display: block;
  padding-left: 20px;
  background: url("svg/twitter-loop.svg") left no-repeat;
  width: 20%;
  float: left;
  color: #8a9aa4;
}
