button {
    display: inline-block;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
  }
  textarea {
    width: 100%;
    height: 98%;
    box-sizing: border-box;
    border: none;
    resize: none;
  }
  body {
    background-color: #ffffff;
    font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka,
      メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  }
  .container {
    margin: 30px auto;
    height: 480px;
    width: 550px;
    padding: 10px;
    border: 1px solid #38444d;
    border-radius: 16px;
  }
  .text {
    color: #000;
    font-size: 20px;
    padding: 10px;
    background-color: #ffffff;
    height: 80%;
  }
  .text::placeholder {
    color: #000;
  }
  .text:focus {
    border: none;
    outline: none;
  }
  .text:focus::placeholder {
    color: rgb(161, 161, 161);
  }
  .submit_wrap {
    display: flex;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    margin-top: -170px;
  }
  .cnt_area {
    text-align: center;
    width: 70px;
    color: #000;
  }
  .cnt_area.cnt_danger {
    color: red;
  }
  .circle_wrap {
    position: relative;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    transform: rotate(-90deg);
  }
  .submit_btn {
    background-color: #1ca1f2;
    padding: 10px 20px;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .submit_btn:disabled {
    opacity: 0.6;
  }
