<!DOCTYPE html>
<html>
  <head>
    <title>{{name}}</title>
    <meta charset="UTF-8" />
    <link
    rel="stylesheet"
    href="static/css/bootstrap_4.5.0.min.css"
    />
    <link rel="stylesheet" href="static/css/styles.css" />
  </head>

  <body>

    
    <div class="container">
      <div class="text-center mt-5 mb-5">
        <h3>Tweet予定内容入力</h3>
          <img src={{icon_url}} class="img-fluid" alt="Responsive image">
          {{name}}
      </div>
      <!-- <div id="main"></div> -->
      <form action="/result" method="POST">
        <div class="flex_container">
            <div class="d-flex justify-content-center">                
                <input type="text" name="tweet"  maxlength="140"
                placeholder="Tweetする内容を書き込んでください">
                <!-- <input type="submit" value="Submit"> -->
            </div>
        </div>
        <div class="flex_container">
            <div class="d-flex justify-content-center">
                <select name="time_hour">
                    <option value="1">1時間後のいいね数</option>
                    <option value="2">2時間後のいいね数</option>
                    <option value="3">3時間後のいいね数</option>
                    <option value="4">4時間後のいいね数</option>
                    <option value="5">5時間後のいいね数</option>
                    </select>
            </div>
        </div>
        <div class="flex_container">
            <div class="d-flex justify-content-around">
                <input type="submit" value="決定">                
            </div>
        </div>
      </form>

    </div>

    <!-- Bootstrap -->
    <script
      src="static/js/jquery-3.5.1.slim.min.js"
    ></script>
    <script
      src="static/js/popper@1.16.0_popper.min.js"
    ></script>
    <script
      src="static/js/4.5.0_bootstrap.min.js"
    ></script>
  </body>
</html>
